/* css da página inicial */

body{
    font-family: 'Mochiy Pop One', sans-serif;
    background: #eed5d5b6;
    background-attachment: fixed;
}

header{
    display:flex;
    justify-content: space-between;
}

.logo {
    background-color: #856ccf;
    height: 50px;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: start;
}

.navegacao {
    background-color: turquoise;
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 0 0 0 15px;
    text-decoration: none;
    color: white;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h1 :hover{
    font-size: 35px;
}

.navegacao li :hover{
    color: darkviolet;
}

@media screen and (max-width: 700px) {
    body {
        height: auto;
    }

    .logo {
        display: none;
    }

    .navegacao {
        width: 100%;
    }

    .inicio {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1024px) and (max-width: 700px) {
    .imagens {
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }

    footer {
        height: 100%;
        width: auto;
        flex-direction: column;
    }
}

.imagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imagens img {
    width: 200px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    display: flex;
    padding: 15px;
    border: red;
    border-style: ridge;
}

.imagens img:hover {
    transform: scale(1.1);
}

footer {
    height: 30px;
    background-color: #856ccf;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
}